
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<div id="mnu" class="msidenav">
  <div class="logo">iX</div>
  <div class="searchbar">
    <input class="search">
    <button class="sbtn"><i class="fa fa-search" aria-hidden="true"></i></button>
  </div>
  <div class="spacer"></div>
  <button class="mbtn"><i class="fa fa-list icon" aria-hidden="true"></i> Option One</button>
  <button class="mbtn"><i class="fa fa-shopping-cart icon" aria-hidden="true"></i> Option Two</button>
  <button class="mbtn"><i class="fa fa-user icon" aria-hidden="true"></i> Option Three</button>
  <button class="mbtn"><i class="fa fa-bolt icon" aria-hidden="true"></i> Option Four</button>
  <button class="mbtn"><i class="fa fa-calendar icon" aria-hidden="true"></i> Option Five</button>
</div>


<div class="sidenav">
  <div class="logo">iX</div>
  <div class="searchbar">
    <input class="search">
    <button class="sbtn"><i class="fa fa-search" aria-hidden="true"></i></button>
  </div>
  <div class="spacer"></div>
  <button class="mbtn"><i class="fa fa-list icon" aria-hidden="true"></i> Option One</button>
  <button class="mbtn"><i class="fa fa-shopping-cart icon" aria-hidden="true"></i> Option Two</button>
  <button class="mbtn"><i class="fa fa-user icon" aria-hidden="true"></i> Option Three</button>
  <button class="mbtn"><i class="fa fa-bolt icon" aria-hidden="true"></i> Option Four</button>
  <button class="mbtn"><i class="fa fa-calendar icon" aria-hidden="true"></i> Option Five</button>
</div>
<div class="content-area">
  <div class="mobilebar">
    <div class="logo sml">iX</div>
    <div class="mbh">
    <button class="mnubtn" onclick="slideMenu()"><i class="fa fa-bars" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="page-title">Inventory</div>
  <div class="page-desc">View and manage your stock</div>

<% @data.each do |product| %>
    <div class="content-bar">
    <div class="itemnum">#<%= product.original_state[:variants][0]['product_id'] %></div>
    <div class="itemtitle"><%= product.title %><br></div>
    <div class="itemprice">$<%= product.original_state[:variants][0]['price'] %> ea</div>
    <div class="itemstock"><%= product.variants[0].original_state[:inventory_quantity] %> In Stock</div>
    <div class="btncontainer">
    <button class="cbbtn"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
    <button class="cbbtn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    </div>
  </div>
<% end %>
</div>




<style>

body{
background: linear-gradient(#7ad1ff, #3a99de) fixed;
  padding:40px;
  font-family: 'Rubik', sans-serif;
  margin:0;
}
.sidenav{
  width:250px;
  height:calc(100% - 80px);
  position:fixed;
  background:#fff;
  border-radius:12px 0px 0px 12px;
}
.msidenav{
  width:250px;
  height:calc(100%);
  top:0;
  z-index:99;
  left:-250px;
  position:fixed;
  background:#fff;
  border-radius:0px;
  box-shadow: 00px 0px 00px 0px rgba(0,0,0,0);
  transition-duration:500ms;
}
.content-area{
  background-color: #f6f6fc;
  position:fixed;
  width:calc(100vw - 340px);
  height:calc(100vh - 80px);
  margin-left:250px;
  border-radius: 0px 12px 12px 0px;
}
.content-bar{
  width: calc(100% - 40px);
  margin-left:20px;
  margin-top:10px;
  background:#fff;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.06);
  border-radius:12px;
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0fr 1fr 1fr 3fr 0fr;
}
.page-title{
  font-weight:500;
  font-size:26px;
  padding-left:20px;
  padding-top:20px;
}
.page-desc{
  padding-left:20px;
  font-weight:300;
  color:#525252;
}
.logo{
  font-family: 'Rubik', sans-serif;
  font-weight:600;
  font-size:70px;
  background: -webkit-linear-gradient(#4d4d4d, #171717);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align:center;
  margin-top:20px;
  padding:0px;
  margin-bottom:20px;
}
.search{
  border-left:1px solid #dfe2e6;
  border-top:1px solid #dfe2e6;
  border-bottom:1px solid #dfe2e6;
  border-right:1px none;
  border-radius:12px 0px 0px 12px;
  padding:10px;
  margin-left:20px;
  width: 145px;
  font-family: 'Rubik', sans-serif;
  font-weight:300;
  color:#525252;
}
.search:focus{
  outline:none;
}
.sbtn{
  padding:10px;
  padding-right:15px;
  padding-left:15px;
  background:none;
  border-radius: 0px 12px 12px 0px;
  border-right:1px solid #dfe2e6;
  border-top:1px solid #dfe2e6;
  border-bottom:1px solid #dfe2e6;
  border-left:1px none;
  transform:translate(-4px, 0px);
  color: #d0d4d9;
  cursor:pointer;
}
.sbtn:focus{
  outline:none;
}
.sbtn:hover{
  color:#a8adb3;
}
.sbtn:active{
  color:black;
}
.spacer{
  margin:20px;
}
.mbtn{
  border-radius:12px;
  text-align:left;
  margin-left:20px;
  width:210px;
  height:40px;
  border:none;
  background:none;
  font-family: 'Rubik', sans-serif;
  font-size:18px;
  color:#d0d4d9;
  transition-duration:0ms;
  cursor:pointer;
}
.icon{
  padding-left:20px;
  padding-right:10px;
  color:#b4b9bf;
  
}
.mbtn:hover{
  transition-duration:0ms;
  text-align:left;
  width:210px;
  height:40px;
  border:none;
  background: #f6f6fc;
  color:black;
}
.mbtn:hover i{

  color:#3895e0;
}
.mbtn:focus{
  outline:none;
  background:#3a94de;
  color:rgba(255,255,255,0.9);
  cursor:pointer;
}
.mbtn:focus i{
  color:white;

}

.mobilebar{
  width:100%;
  height:70px;
  background:#fff;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.06);
  display:none;
}
.sml{
  text-align:left;
  font-size:34px;
  display:inline-block;
  padding-left:20px;
  margin-top:14px;
}
.mnubtn{
  height:35px;
  float:right;
  margin-right:0px;
  border:none;
  border-radius:12px;
  background: -webkit-linear-gradient(#4d4d4d, #171717);
  color:white;
  font-size:18px;
  padding:8px 10px;
}
.mnubtn:focus{
  outline:none;
}
.mnubtn:hover{
  background:black;
}
.mnubtn:active{
  background:#3a94de;
  color:black;
}
.mbh{
  display:inline-block;
  float:right;
  margin-top:17px;
  margin-right:20px;
}


.itemnum{
  padding: 15px;
  color:gray;
  font-weight:300;
}
.itemtitle{
  padding:15px;
  padding-bottom:15px;
  color:black;
  min-width:80px;
}
.itemprice{
  padding:15px;
  padding-bottom:15px;
  color:#319959;
  min-width:80px;
}
.itemstock{
  
  padding:15px;
  padding-bottom:15px;
  color:black;
  font-weight:300;
}
.itemdesc {
    padding:15px;
  padding-bottom:15px;
  color:black;
  font-weight:300;  
}
.btncontainer{
  width:90px;
  background:none;
}
.cbbtn{
  float:right;
  margin-right:10px;
  width:35px;
  height:35px;
  margin-top:7px;
  border-radius:12px;
  border:none;
}


@media only screen and (max-width: 1160px) {
  body{
    padding:0;
    margin:0;
    font-size:14px;
  }
  .sidenav{
    height:100%;
    border-radius:0px;
  }
    .content-area{
    height:100%;
      width:calc(100% - 250px);
      border-radius:0px;
  }
}
@media only screen and (max-width: 780px) {
  body{
    padding:0;
    margin:0;
    font-size:13px;
  }
  .sidenav{
    height:100%;
    border-radius:0px;
    left:-251px;
  }
    .content-area{
    height:100%;
      width:calc(100%);
      border-radius:0px;
      margin-left:0px;
  }
  .mobilebar{
  background:#fff;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.06);
  display:block;
}
  .content-bar{
    grid-template-columns: 0fr 1fr 0fr;
  }
  .itemprice{
    display:none;
  }
  .itemstock{
    display:none;
  }
  .cbbtn{
  margin-top:5px;
    margin-right:5px;
}
}
</style>


<script>
var mnu = document.getElementById("mnu");
var mstate = false;

function slideMenu() {
  mstate = !mstate;
  if(mstate){
    mnu.style.left = "0px";
    mnu.style.boxShadow = "100px 0px 300px 0px rgba(0,0,0,0.3)";
  }
  else{
    mnu.style.left = "-250px";
    mnu.style.boxShadow = "0px 0px 00px 0px rgba(0,0,0,0.0)";
  }
}

</script>